amqp==5.0.2
anyjson==0.3.3
astroid==2.4.2
billiard==3.6.3.0
celery==5.0.2
click==7.1.2
click-didyoumean==0.0.3
click-repl==0.1.6
Django==2.2.17
django-appconf==1.0.4
django-cors-headers==3.5.0
django-environ==0.4.5
django-extensions==3.0.9
django-filter==2.4.0
djangorestframework==3.12.2
djangorestframework-simplejwt==4.6.0
isort==5.6.4
kombu==5.0.2
lazy-object-proxy==1.4.3
librabbitmq==2.0.0
mccabe==0.6.1
mysqlclient==2.0.1
pkg-resources==0.0.0
prompt-toolkit==3.0.8
PyJWT==1.7.1
pylint==2.6.0
pytz==2020.4
six==1.15.0
sqlparse==0.4.1
toml==0.10.2
vine==5.0.0
wcwidth==0.2.5
Werkzeug==1.0.1
wrapt==1.12.1
